body {
    font-family: Helvetica, sans-serif;
    font-size: 16pt;
    margin: 0px;
    align-items: center;
    align-content: center;
    min-width: 580px;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    min-width: 400px;
}
.main-content {
    padding: 20px;
    min-width: 500px;
    border: solid 2px black;
    display: -webkit-flex;
    display: block;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
    width: 75%;
    float: right;
    vertical-align: middle;
    height: 100px;
}
.header-bar {
    height: 100px;
    width: inherit;
    background-color: black;
    align-content: center;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 36pt;
    padding: 10px;
}
.control-pane {
    padding: 20px;
    border: solid 2px black;
    height: auto;
    padding: 20px;
    display: block;
    width: 350px;
    float: left;
    vertical-align: middle;
    height: auto;
}
.container {
    width: 450px;
    margin: 15px auto;
}
.sub-station {
    height: auto;
    margin-bottom: 40px;
    /*margin-left: 80px;*/
    float:right;
}
