<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Switchyard</title>
    <link rel="stylesheet" href="../static/css/from_github.css">
    <link rel="stylesheet" href="../static/css/switchyard.css">
    <!-- <link rel="stylesheet" href="stylesheets/pygment_trac.css"> -->
    <link rel="stylesheet" href="octicons/octicons.css">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="../static/js/Chart.min.js"></script>
    <script src="../static/js/utils.js"></script>
</head>

<body>
    <div class="header-bar">
        <!-- <img src="../static/images/{{logo_file}}" /> -->
        <img src="../static/images/Switchyard.png" />
    </div>

    <div class="wrapper">
        <header>
            <h1 id="station-name">Selected station:</h1>
            <select id="dropdown-stations">
                {% for unit, station, line in details %}
                <option value="{{unit}}">{{station}} | {{line}}</option>
                {% endfor %}
            </select>
            <button type="button" onclick="submit()">SUBMIT</button><br>
            <div class="container">
                <div>
                    <canvas id="main-station"></canvas>
                </div>
            </div>
        </header>

        <section>
            <!-- main station content goes here -->
            <div class="sub-station">
                <h2 id="sub-1">Station 1</h2>
                Change: +0%
            </div>
            <div class="sub-station">
                <h2 id="sub-2">Station 1</h2>
                Change: +0%
            </div>
            <div class="sub-station">
                <h2 id="sub-3">Station 1</h2>
                Change: +0%
            </div>
            <div class="sub-station">
                <h2 id="sub-4">Station 1</h2>
                Change: +0%
            </div>
        </section>

        <footer>
            <p><small>Created as part of my Insight Data Science
                (NYC Summer 2017) project</small></p>
        </footer>
    </div>
    <script src="../static/js/scale.fix.js"></script>
    <script>
    function submit() {
        var e = document.getElementById("dropdown-stations");
        var unit = e.options[e.selectedIndex].value;
        window.location = '/index?i=' + e.selectedIndex + '&unit=' + unit;
    };

    function getRequests() {
        var s = location.search.substring(1, location.search.length).split('&');
        var r = {}, s2, i;
        for (i = 0; i < s.length; i += 1) {
            s2 = s[i].split('=');
            r[decodeURIComponent(s2[0]).toLowerCase()] =
                decodeURIComponent(s2[1]);
        }
        return r;
    };

    window.onload = function() {
        var QueryString = getRequests();
        var i = QueryString["i"];
        var e = document.getElementById("dropdown-stations");
        e.selectedIndex = i;
        var station = e.options[i].text;
        document.getElementById("station-name").innerHTML =
            'Selected station:<br />' + station;

        Chart.defaults.global.legend.display = false;
        // Chart.defaults.global.barPercentage = 1.0;
        // Chart.defaults.global.categoryPercentage = 1.0;
        var ctx = document.getElementById("main-station").getContext('2d');

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{data.date.values.tolist()|tojson}},
                datasets: [{
                    label: 'Entering Passengers',
                    backgroundColor: '{{color}}',
                    data: {{data.enter.values.tolist()|tojson}},
                },]
                // }, {
                //     label: 'Leaving Passengers',
                //     backgroundColor: "rgba(255,153,0,1)",
                //     data: {{data.exit.values.tolist()|tojson}},
                // }]
            },
            options: {
                scales: {
                    xAxes: [{
                        display: false,
                        categoryPercentage: 1.0,
                        barPercentage: 1.0
                    }]
                }
            }
        });
    };
    </script>

</body>
</html>
