
<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mike Moran">

    <title>Switchyard</title>
    <script src="../static/js/Chart.min.js"></script>
    <script src="../static/js/utils.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/switchyard.css">
</head>

<body>
    <div class="header-bar">
        <img src="../static/{{logo_file}}" />
    </div>

    <div class="control-pane">
        <div class="content_left">
            <h2 id="station-name">STATION</h2>
            <!-- <button type="button" onclick="showName()">GET MY NAME</button> -->
            <!-- <button type="button" onclick="clearName()">CLEAR MY NAME</button> -->
            <!-- <select id="dropdown-lines" onchange="updateStationDropdown()">
                {% for line in lines %}
                    <option value="{{line}}">{{line}}</option>
                {% endfor %}
            </select> -->
            <select id="dropdown-stations">
                {% for unit, station, line in details %}
                    <option value="{{unit}}">{{line}} | {{station}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="content_right">
            <button type="button" onclick="submit()">SUBMIT</button>
        </div>
    </div>

    <div class="main-content">
    	<div class="container">
    	</div>
    </div>
    <script>
    function updateStationDropdown() {
        var e = document.getElementById("dropdown-station");
        var lineValue = e.options[e.selectedIndex].text;
        // document.getElementById('station-name').innerHTML = strUser;
    }

	
    </script>
</body>

</html>
